{% extends 'base.html' %}

{% block title %}Email Sent{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center align-items-center" style="height:100vh">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h2>Check your inbox.</h2>
                    <p>Nós enviamos instruções para configurar seu password. Você deve receber um e-mail em breve!</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}