{% extends 'base.html' %}

{% block title %}Password reset complete{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center align-items-center" style="height:100vh">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h2>Reset do password completo</h2>
                    <p>Seu novo password foi definido. Você pode agora fazer login no site <a href="{% url 'login' %}">login page</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}