{% extends 'base.html' %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
<div class="container">
        <div class="row justify-content-center align-items-center" style="height:100vh">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <h2>Esqueceu seu password?</h2>
                        <p>Entre com seu e-mail abaixo, e nós enviaremos instruções para configurar uma nova senha.</p>

                        <form method="POST">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit"class="btn btn-primary">Envie-me instruções!</button>
                        </form>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}