/* basic reset */
*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
/* app */
html {
    font-size: 100%;
}
body {
    background: #b1f6cb;
    font-family: 'Open Sans',sans-serif;
}
/* super basic grid structure */
.container-login {
    width: 600px;
    margin: auto;
    background: #ffffff;
    padding: 50px 50px 50px 50px;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.2);
            box-shadow: 0 0 10px rgba(0,0,0,0.2);
            box-shadow: 0 0 10px rgba(0,0,0,0.2);
            box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.row {
    display: block;
    padding: 40px 40px 40px 40px;
    text-align: center;
    width: 200%;
    clear: both;
    overflow: hidden;
}

.half {
    width: 50%;
    float: left;
}

.content {
    background: #fff;
}
/* logo */
h1 {
    font-family: 'Rokkitt', sans-serif;
    color: #666;
    text-align: center;
    font-weight: 400;
    margin: 0;
}
.tagline {
    margin-top: -10px;
    text-align: center;
    padding: 5px 20px;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    color: #777; 
}

.login-container{
    margin-top: 5%;
    margin-bottom: 5%;
}
.login-form-1{
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-1 h3{
    text-align: center;
    color: #333;
}
.login-form-2{
    padding: 5%;
    background: #0062cc;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}
.login-form-2 h3{
    text-align: center;
    color: #fff;
}
.login-container form{
    padding: 10%;
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}
.login-form-1 .btnSubmit{
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
}
.login-form-2 .btnSubmit{
    font-weight: 600;
    color: #0062cc;
    background-color: #fff;
}
.login-form-2 .ForgetPwd{
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}
.login-form-1 .ForgetPwd{
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
}